<div class="container" style="margin: 30px;">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="http://localhost:3000/courseones">
            <img src="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173" alt="Lights" style="width:100%">
            <div class="caption">
              <p>lesson about ...</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173">
            <img src="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173" alt="Nature" style="width:100%">
            <div class="caption">
              <p>lesson about ...</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173">
            <img src="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>lesson about ...</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173">
            <img src="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173" alt="Lights" style="width:100%">
            <div class="caption">
              <p>lesson about ...</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173">
            <img src="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173" alt="Nature" style="width:100%">
            <div class="caption">
              <p>lesson about ...</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173">
            <img src="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>lesson about ...</p>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>
