<head>
   <link rel="stylesheets" type="text/scss" href="about.scss">
</head>
<body>
  <div class="persona-grid">
            <div class="container row-container">
              <div class="row">
                <div class="col-sm-4">
                  <div class="g10-col-sm-4 persona-amy">
                    <a class="persona-link" href="https://ws2.sinaimg.cn/large/006tNbRwgy1ffqn0l8txsj30ho0hmjsc.jpg">
                        <div class="info-peek">
                            <div class="info-default active">
                                <h2>吉祥</h2>
                                <p>Hopeful yogi, living the change she wants to see in the world</p>
                            </div>
                        </div>
                         <div class="overlay"></div>
                        <img class="img-rounded" src="https://ws2.sinaimg.cn/large/006tNbRwgy1ffqn0l8txsj30ho0hmjsc.jpg" alt="Lights"  style="width:100%">
                    </a>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="g10-col-sm-4 persona-ida">
                    <a class="persona-link" href="https://ws1.sinaimg.cn/large/006tNbRwgy1ffqns0jyuwj30ho0hmdim.jpg">
                        <div class="info-peek">
                            <div class="info-default active">
                                <h2>董明娟</h2>
                                <p>Hopeful yogi, living the change she wants to see in the world</p>
                            </div>
                        </div>
                         <div class="overlay"></div>
                        <img class="img-rounded" src="https://ws1.sinaimg.cn/large/006tNbRwgy1ffqns0jyuwj30ho0hmdim.jpg" alt="Lights"  style="width:100%">
                    </a>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="g10-col-sm-4 persona-matt">
                    <a class="persona-link" href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/matt/matt_face_m.jpg">
                        <div class="info-peek">
                            <div class="info-default active">
                                <h2>吉祥</h2>
                                <p>Hopeful yogi, living the change she wants to see in the world</p>
                            </div>
                        </div>
                         <div class="overlay"></div>
                        <img class="img-rounded" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/matt/matt_face_m.jpg" alt="Lights"  style="width:100%">
                    </a>
                  </div>
                </div>
              </div>
            </div>
    </div>

    <div class="persona-grid">
            <div class="container row-container">
              <div class="row">
                <div class="col-sm-4">
                  <div class="g10-col-sm-4 persona-jandd">
                    <a class="persona-link" href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/jandd/jandd_face_m.jpg">
                        <div class="info-peek">
                            <div class="info-default active">
                                <h2>吉祥</h2>
                                <p>Hopeful yogi, living the change she wants to see in the world</p>
                            </div>
                        </div>
                         <div class="overlay"></div>
                        <img class="img-rounded" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/jandd/jandd_face_m.jpg" alt="Lights"  style="width:100%">
                    </a>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="g10-col-sm-4 persona-brett">
                    <a class="persona-link" href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/brett/brett_face_m.jpg">
                        <div class="info-peek">
                            <div class="info-default active">
                                <h2>吉祥</h2>
                                <p>Hopeful yogi, living the change she wants to see in the world</p>
                            </div>
                        </div>
                         <div class="overlay"></div>
                        <img class="img-rounded" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/brett/brett_face_m.jpg" alt="Lights"  style="width:100%">
                    </a>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="g10-col-sm-4 persona-kira">
                    <a class="persona-link" href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/kira/kira_face_m.jpg">
                        <div class="info-peek">
                            <div class="info-default active">
                                <h2>吉祥</h2>
                                <p>Hopeful yogi, living the change she wants to see in the world</p>
                            </div>
                        </div>
                         <div class="overlay"></div>
                        <img class="img-rounded" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/kira/kira_face_m.jpg" alt="Lights"  style="width:100%">
                    </a>
                  </div>
                </div>
              </div>
            </div>
  </div>

  <div class="persona-grid">
            <div class="container row-container">
              <div class="row">
                <div class="col-sm-4">
                  <div class="g10-col-sm-4 persona-andrew">
                    <a class="persona-link" href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/andrew/andrew_face_m.jpg">
                        <div class="info-peek">
                            <div class="info-default active">
                                <h2>吉祥</h2>
                                <p>Hopeful yogi, living the change she wants to see in the world</p>
                            </div>
                        </div>
                         <div class="overlay"></div>
                        <img class="img-rounded" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/andrew/andrew_face_m.jpg" alt="Lights"  style="width:100%">
                    </a>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="g10-col-sm-4 persona-linda">
                    <a class="persona-link" href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/linda/linda_face_m.jpg">
                        <div class="info-peek">
                            <div class="info-default active">
                                <h2>吉祥</h2>
                                <p>Hopeful yogi, living the change she wants to see in the world</p>
                            </div>
                        </div>
                         <div class="overlay"></div>
                        <img class="img-rounded" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/linda/linda_face_m.jpg" alt="Lights"  style="width:100%">
                    </a>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="g10-col-sm-4 persona-sarah">
                    <a class="persona-link" href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/sarah/sarah_face_m.jpg">
                        <div class="info-peek">
                            <div class="info-default active">
                                <h2>吉祥</h2>
                                <p>Hopeful yogi, living the change she wants to see in the world</p>
                            </div>
                        </div>
                         <div class="overlay"></div>
                        <img class="img-rounded" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/sarah/sarah_face_m.jpg" alt="Lights"  style="width:100%">
                    </a>
                  </div>
                </div>
              </div>
            </div>
  </div>
</body>
