// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// a:hover {
// 	color: black !important;
// }

.shop-container .nav-pills > li > a,
.shop-container .nav-pills > li > a:hover,
.shop-container .nav-pills > li > a:focus {
    background-color: transparent;
    color: #000;
    border-radius: 0;
    padding: 2px 2px;
}

.shop-container .nav-pills > li > a:hover,
.shop-container .nav-pills > li > a:focus {
	border-bottom: 1px solid #f96146;
}

.shop-container .nav-pills > li.active > a, 
.shop-container .nav-pills > li.active > a:hover, 
.shop-container .nav-pills > li.active > a:focus {
    border-bottom: 1px solid #f96146;
    background-color: transparent;
    color: #000;
    border-radius: 0;
    padding: 2px 2px;
    text-align: left !important;
}

.shop-container {
	padding: 0 60px;
}

.shop-container .nav-pills > li {
    margin-left: 15px;
}

.shop-header {
	// color: red;
}

#shopping-season-nav {
	float: left;
}

.products {
    margin: 0 60px;
}

.products .thumbnail {
    border: none;
}

.products .thumbnail .caption {
    text-align: center;
}

//============ show ==============
.product-container {
    margin: 0;
    padding: 10px;
}

.product-container .thumbnail {
    margin-left: auto;
    margin-right: auto;
}

.product-images {
    margin-left: auto;
    margin-right: auto;
}


// ========== product detail slide ===========
 
 .carousel-control.right {
  right: 0;
  left: auto;
  background-image: none !important;
}
 .carousel-control.left {
  left: 0;
  right: auto;
  background-image: none !important;
}
#carousel-custom {
    margin: 20px auto;
    width: 400px;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static; //bootstrap 有更改为absolute，所以这个默认值要加上，去覆盖bootstrap的
    text-align: left;
    white-space: nowrap; // 防止小图换行
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    // display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}
.carousel-indicators li img {
  height: 66px;
  width: 50px;
}

// ================= select form ================
#product-detail-group {
    padding-left: 5%;
}

#sel1, #sel2, #sel3 {
    width: 40%;
}

// ============== customer review ===============
#customer-review-group {
    padding: 60px 100px;
}