<% if flash.any? %>
	<% user_facing_flashes.each do |key, value| %>
		<div class="alert alert-dismissable alert-<%= flash_class(key) %>" style="position: absolute; top: 0; width:98%; height: 50px;">
			<button class="close" data-dismiss="alert">x</button>
			<%= value %>
		</div>
	<% end %>
<% end %>