
<footer class="text-center" style="margin-top: 100px;">
	<p>
		cooooooooool
		<br>
		Design by wokenqingtian
	</p>
</footer>

<!-- <footer>
<div class="footer-cols">
    <div>
        <h5>
            Service
        </h5>
        <ul>
            <li>
                <a href="en/general-conditions/" title="General conditions">
                    General conditions
                </a>
            </li>
            <li>
                <a href="en/shipping/" title="Shipping">
                    Shipping
                </a>
            </li>
            <li>
                <a href="en/returns/" title="Returns">
                    Returns
                </a>
            </li>
        </ul>
    </div>
    <div>
        <h5>
            Payment
        </h5>
        <div class="free-shipping-note">
            Free shipping from € 120 (Belgium)
        </div>
        <ul class="payment-methods">
            <li class="visa">
                Visa
            </li>
            <li class="mastercard">
                MasterCard
            </li>
            <li class="bancontact">
                Bancontact
            </li>
        </ul>
    </div>
    <div>
        <h5>
            Shop
        </h5>
        <ul>
            <li>
                <a href="en/shop/girls/summer2017/" title="Summer 2017">
                    Girls - Summer 2017
                </a>
            </li>
            <li>
                <a href="en/shop/boys/summer2017/" title="Summer 2017">
                    Boys - Summer 2017
                </a>
            </li>
        </ul>
    </div>
    <div>
        <h5>
            Lookbook
        </h5>
        <ul>
            <li>
                <a href="en/lookbook/summer2017/" title="Summer 2017">
                    Summer 2017
                </a>
            </li>
            <li>
                <a href="en/lookbook/autumn-winter-2016/" title="Autumn/Winter 2016">
                    Autumn/Winter 2016
                </a>
            </li>
            <li>
                <a href="en/lookbook/archive/">
                    Archive
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-contact">
        <h5>
            Contact
        </h5>
        <p>
            Loena bvba
            <br>
            <a href="mailto:info@morleyforkids.be">
                info@morleyforkids.be
            </a>
        </p>
        <div class="footer-newsletter">
            <button class="newsletter-subscribe-prompt">
                Newsletter
            </button>
        </div>
    </div>
</div>
</footer> -->



