<!--
<footer class="text-center" style="margin-top: 100px;">
	<p>
		cooooooooool
		<br>
		Design by wokenqingtian
	</p>
</footer> -->

<footer>
	<div class="container">
		<div class="row text-left" style="border-bottom-style: solid; border-width: 1px; margin-top:50px;">
			<div class="col-md-3">
				<h4>部门</h4>
				<p>商城</p>
				<p>哲思录</p>
				<p>课程</p>
			</div>
			<div class="col-md-3">
				<h4>公司信息</h4>
				<p>在美哲宝的职业发展</p>
				<p>关于美哲宝</p>
				<p>我们的职责</p>
				<p>媒体</p>
				<p>投资者关系</p>
				<p>Corporate governance</p>
			</div>
			<div class="col-md-3">
				<h4>帮助</h4>
				<p>客户服务</p>
				<p>美哲宝门店信息</p>
				<p>隐私及法律条款</p>
				<p>联系我们</p>
			</div>
			<div class="col-md-3">
				<h4>订阅通讯</h4>
				<p>立即注册，获得85折优惠</p>
				<div class="row" >
					<div class="col-md-4 text-center" style="border-style: solid; margin-left: 15px;" >
						注册
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6  text-right" style="border-style:hidden; margin-top: 15px; margin-bottom: 25px;">
				<li class="item">
					  <a class="footer-brand" href="http://www.weibo.com/hm"><img src='<%= image_url 'weibo.png' %>' ></a>
	      </li>
			</div>
			<div class="col-md-6 text-left" style="border-style:hidden; margin-top: 25px; margin-bottom: 25px;">
				<a class="footer-brand" href="http://www.youku.com/hm"><img src='<%= image_url 'youku.png' %>' ></a>
		  </div>
		</div>
		<div class="row">
			<div class="col-md-12  text-center">
			<p> 该网站的内容受到版权保护，是属于美哲宝的财产。 </p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12  text-center">
			<p> 沪ICP备09046xxx号 上海工商 </p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12  text-center">
			<h1> 美哲宝 </1>
			</div>
		</div>

	</div>
</footer>


<!-- <footer>
<div class="footer-cols">
    <div>
        <h5>
            Service
        </h5>
        <ul>
            <li>
                <a href="en/general-conditions/" title="General conditions">
                    General conditions
                </a>
            </li>
            <li>
                <a href="en/shipping/" title="Shipping">
                    Shipping
                </a>
            </li>
            <li>
                <a href="en/returns/" title="Returns">
                    Returns
                </a>
            </li>
        </ul>
    </div>
    <div>
        <h5>
            Payment
        </h5>
        <div class="free-shipping-note">
            Free shipping from € 120 (Belgium)
        </div>
        <ul class="payment-methods">
            <li class="visa">
                Visa
            </li>
            <li class="mastercard">
                MasterCard
            </li>
            <li class="bancontact">
                Bancontact
            </li>
        </ul>
    </div>
    <div>
        <h5>
            Shop
        </h5>
        <ul>
            <li>
                <a href="en/shop/girls/summer2017/" title="Summer 2017">
                    Girls - Summer 2017
                </a>
            </li>
            <li>
                <a href="en/shop/boys/summer2017/" title="Summer 2017">
                    Boys - Summer 2017
                </a>
            </li>
        </ul>
    </div>
    <div>
        <h5>
            Lookbook
        </h5>
        <ul>
            <li>
                <a href="en/lookbook/summer2017/" title="Summer 2017">
                    Summer 2017
                </a>
            </li>
            <li>
                <a href="en/lookbook/autumn-winter-2016/" title="Autumn/Winter 2016">
                    Autumn/Winter 2016
                </a>
            </li>
            <li>
                <a href="en/lookbook/archive/">
                    Archive
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-contact">
        <h5>
            Contact
        </h5>
        <p>
            Loena bvba
            <br>
            <a href="mailto:info@morleyforkids.be">
                info@morleyforkids.be
            </a>
        </p>
        <div class="footer-newsletter">
            <button class="newsletter-subscribe-prompt">
                Newsletter
            </button>
        </div>
    </div>
</div>
</footer> -->
