<div class="container" style="margin: 20px;">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
         <div class="panel-body">
            <h2> Your Child's Development: Age-Based Tips From Birth to 36 Months</h2>
            <p>
              This set of age-based handouts include a “what to expect” chart for each age range, frequently asked questions, a research summary, and information about common parenting challenges for each age and stage.
            This set of nine, age-based handouts includes:
            <br>
            A chart that helps you know what to expect developmentally from your child and how you can help your child learn at each stage
            Frequently asked questions and answers
            <br>
             A spotlight section that goes into greater depth on a common issue or challenge for each age
             <br>
             A research summary specific to each stage of development, and what it means for parents
            </p>
        </div>
     </div>
    </div>
  </div>

  <div class="row" style="margin:0px;">
    <h2>BIRTH TO 12 MONTHS</h2>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="http://localhost:3000/posts">
          <img src="https://zero-to-three.s3.amazonaws.com/images/159/11cddd6d-0c16-4591-b071-823fbbe3e143-landscape_small.jpg?1457115738" alt="Lights" style="width:100%">
          <div class="caption">
            <p>9–12 Months: Your Baby’s Development</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="http://localhost:3000/posts">
          <img src="https://zero-to-three.s3.amazonaws.com/images/160/d741d731-1d5d-401b-92ee-c3e2c657dc3d-landscape_small.jpg?1457116004" alt="Nature" style="width:100%">
          <div class="caption">
            <p>6–9 Months: Your Baby’s Development</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173">
          <img src="https://zero-to-three.s3.amazonaws.com/images/156/658d14aa-7674-4671-a77e-3cde59f67984-landscape_small.jpg?1457114373" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>0–6 Months: Your Baby’s Development</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row" style="margin: 10px;">
    <h2>12-24 MONTHS</h2>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173">
          <img src="https://zero-to-three.s3.amazonaws.com/images/162/dd49d94b-f108-4089-9e6f-ea8f6c21da73-landscape_small.jpg?1457118242" alt="Lights" style="width:100%">
          <div class="caption">
            <p>18–24 Months: Your Baby’s Development</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://zero-to-three.s3.amazonaws.com/images/165/8976031a-6474-4e9f-bf9f-56b7c2bb7593-landscape_small.jpg?1457119878">
          <img src="https://zero-to-three.s3.amazonaws.com/images/165/8976031a-6474-4e9f-bf9f-56b7c2bb7593-landscape_small.jpg?1457119878" alt="Nature" style="width:100%">
          <div class="caption">
            <p>15-24 Months: Your Baby’s Development</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173">
          <img src="https://zero-to-three.s3.amazonaws.com/images/163/b3d30f1c-694f-4a10-b978-6a960fe8ed5a-landscape_small.jpg?1457119017" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>12-15 Months: Your Baby’s Development</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row" style="margin: 10px;">
    <h2>24-36 MONTHS</h2>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="http://localhost:3000/courseones">
          <img src="https://zero-to-three.s3.amazonaws.com/images/158/0bdfa17b-1e34-4116-b0b6-ad9d83d8711d-landscape_small.jpg?1457115367" alt="Lights" style="width:100%">
          <div class="caption">
            <p>30-36 Months: Your Baby’s Development</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173">
          <img src="https://zero-to-three.s3.amazonaws.com/images/164/1178df7c-5bbe-49dc-8e17-77cbde383ca4-landscape_small.jpg?1457120049" alt="Nature" style="width:100%">
          <div class="caption">
            <p>26-30 Months: Your Baby’s Development</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173">
          <img src="https://zero-to-three.s3.amazonaws.com/images/190/699a119f-da49-4ac4-9da2-3ae560672bb4-landscape_small.jpg?1457203390" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>24-26 Months: Your Baby’s Development</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
