<div class="container" style="margin: 20px;">
  <div class="row">
    <div class="col-md-6">
      <h2> Challenging Behaviors</h2>
      <p>
        As young children are just beginning to develop self-control, challenging behavior is common and expected in the years from birth to three.
        Young children are also developing self-regulation—the ability to calm or regulate themselves when they are upset. This process leads to some challenging moments for both adults and children. Learn more about how to respond to challenging behaviors like crying, aggression and defiance, and how to support your child’s development of self-control and self-regulation.
      </p>
    </div>
    <div class="col-md-6">
      <div class="telecine" style="transform: scale(1.00109);">
        <video preload="none" src="https://fpdl.vimeocdn.com/vimeo-prod-skyfire-std-us/01/2308/5/136542833/404823983.mp4?token=1495967850-0x4517c634336a2cdc5eceec6e89be74c77a725c4e">
        </video>
      </div>
    </div>
  </div>

  <div class="row" style="margin: 10px;">
    <h2>FEATURED</h2>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="http://localhost:3000/courseoneslessonones">
          <img src="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173" alt="Lights" style="width:100%">
          <div class="caption">
            <p>lesson about ...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="http://localhost:3000/posts">
          <img src="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173" alt="Nature" style="width:100%">
          <div class="caption">
            <p>lesson about ...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173">
          <img src="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>lesson about ...</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173">
          <img src="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173" alt="Lights" style="width:100%">
          <div class="caption">
            <p>lesson about ...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173">
          <img src="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173" alt="Nature" style="width:100%">
          <div class="caption">
            <p>lesson about ...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173">
          <img src="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>lesson about ...</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="http://localhost:3000/courseones">
          <img src="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173" alt="Lights" style="width:100%">
          <div class="caption">
            <p>lesson about ...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173">
          <img src="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173" alt="Nature" style="width:100%">
          <div class="caption">
            <p>lesson about ...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173">
          <img src="https://zero-to-three.s3.amazonaws.com/images/1550/1da0bf19-365c-47bd-b1dd-8c07700872b3-medium.jpg?1494273173" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>lesson about ...</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
